In [1]:
from nltk.corpus import brown

In [2]:
print("Total categories: ",len(brown.categories()))

Total categories:  15

In [3]:
print(brown.categories())

['adventure', 'belles_lettres', 'editorial', 'fiction', 'government', 'hobbies', 'humor', 'learned', 'lore', 'mystery', 'news', 'religion', 'reviews', 'romance', 'science_fiction']

In [4]:
# Tokenize sentences in mystery category
brown.sents(categories="mystery")

[['There', 'were', 'thirty-eight', 'patients', 'on', 'the', 'bus', 'the', 'morning', 'I', 'left', 'for', 'Hanover', ',', 'most', 'of', 'them', 'disturbed', 'and', 'hallucinating', '.'], ['An', 'interne', ',', 'a', 'nurse', 'and', 'two', 'attendants', 'were', 'in', 'charge', 'of', 'us', '.'], ...]

In [9]:
brown.tagged_sents(categories='mystery')

[[('There', 'EX'), ('were', 'BED'), ('thirty-eight', 'CD'), ('patients', 'NNS'), ('on', 'IN'), ('the', 'AT'), ('bus', 'NN'), ('the', 'AT'), ('morning', 'NN'), ('I', 'PPSS'), ('left', 'VBD'), ('for', 'IN'), ('Hanover', 'NP'), (',', ','), ('most', 'AP'), ('of', 'IN'), ('them', 'PPO'), ('disturbed', 'VBN'), ('and', 'CC'), ('hallucinating', 'VBG'), ('.', '.')], [('An', 'AT'), ('interne', 'NN'), (',', ','), ('a', 'AT'), ('nurse', 'NN'), ('and', 'CC'), ('two', 'CD'), ('attendants', 'NNS'), ('were', 'BED'), ('in', 'IN'), ('charge', 'NN'), ('of', 'IN'), ('us', 'PPO'), ('.', '.')], ...]

In [6]:
sentences = brown.sents(categories='mystery')
sentences = [' '.join(sentence_token) for sentence_token in sentences]
print(sentences[0:5]) # printing first 5 sentences

['There were thirty-eight patients on the bus the morning I left for Hanover , most of them disturbed and hallucinating .', 'An interne , a nurse and two attendants were in charge of us .', "I felt lonely and depressed as I stared out the bus window at Chicago's grim , dirty West Side .", 'It seemed incredible , as I listened to the monotonous drone of voices and smelled the fetid odors coming from the patients , that technically I was a ward of the state of Illinois , going to a hospital for the mentally ill .', 'I suddenly thought of Mary Jane Brennan , the way her pretty eyes could flash with anger , her quiet competence , the gentleness and sweetness that lay just beneath the surface of her defenses .']

In [11]:
tagged_words = brown.tagged_words(categories='mystery')
nouns = [(word, tag) for word, tag in tagged_words if any(noun_tag in tag for noun_tag in ['NP', 'NN'])]
print(nouns[0:10])

[('patients', 'NNS'), ('bus', 'NN'), ('morning', 'NN'), ('Hanover', 'NP'), ('interne', 'NN'), ('nurse', 'NN'), ('attendants', 'NNS'), ('charge', 'NN'), ('bus', 'NN'), ('window', 'NN')]

In [1]:
from nltk.corpus import reuters
reuters.categories()

['acq',
 'alum',
 'barley',
 'bop',
 'carcass',
 'castor-oil',
 'cocoa',
 'coconut',
 'coconut-oil',
 'coffee',
 'copper',
 'copra-cake',
 'corn',
 'cotton',
 'cotton-oil',
 'cpi',
 'cpu',
 'crude',
 'dfl',
 'dlr',
 'dmk',
 'earn',
 'fuel',
 'gas',
 'gnp',
 'gold',
 'grain',
 'groundnut',
 'groundnut-oil',
 'heat',
 'hog',
 'housing',
 'income',
 'instal-debt',
 'interest',
 'ipi',
 'iron-steel',
 'jet',
 'jobs',
 'l-cattle',
 'lead',
 'lei',
 'lin-oil',
 'livestock',
 'lumber',
 'meal-feed',
 'money-fx',
 'money-supply',
 'naphtha',
 'nat-gas',
 'nickel',
 'nkr',
 'nzdlr',
 'oat',
 'oilseed',
 'orange',
 'palladium',
 'palm-oil',
 'palmkernel',
 'pet-chem',
 'platinum',
 'potato',
 'propane',
 'rand',
 'rape-oil',
 'rapeseed',
 'reserves',
 'retail',
 'rice',
 'rubber',
 'rye',
 'ship',
 'silver',
 'sorghum',
 'soy-meal',
 'soy-oil',
 'soybean',
 'strategic-metal',
 'sugar',
 'sun-meal',
 'sun-oil',
 'sunseed',
 'tea',
 'tin',
 'trade',
 'veg-oil',
 'wheat',
 'wpi',
 'yen',
 'zinc']

In [14]:
# fileid based access
print(reuters.fileids(categories=['housing', 'income']))

['test/16118', 'test/18534', 'test/18540', 'test/18664', 'test/18665', 'test/18672', 'test/18911', 'test/19875', 'test/20106', 'test/20116', 'training/1035', 'training/1036', 'training/10602', 'training/10604', 'training/11170', 'training/11665', 'training/2618', 'training/29', 'training/3105', 'training/3708', 'training/3720', 'training/3723', 'training/3898', 'training/5883', 'training/5886', 'training/6000', 'training/6067', 'training/6197', 'training/7005', 'training/7006', 'training/7015', 'training/7036', 'training/7098', 'training/7099', 'training/9615']

In [15]:
print(reuters.sents(fileids=[u'test/16118', u'test/18534']))

[['YUGOSLAV', 'ECONOMY', 'WORSENED', 'IN', '1986', ',', 'BANK', 'DATA', 'SHOWS', 'National', 'Bank', 'economic', 'data', 'for', '1986', 'shows', 'that', 'Yugoslavia', "'", 's', 'trade', 'deficit', 'grew', ',', 'the', 'inflation', 'rate', 'rose', ',', 'wages', 'were', 'sharply', 'higher', ',', 'the', 'money', 'supply', 'expanded', 'and', 'the', 'value', 'of', 'the', 'dinar', 'fell', '.'], ['The', 'trade', 'deficit', 'for', '1986', 'was', '2', '.', '012', 'billion', 'dlrs', ',', '25', '.', '7', 'pct', 'higher', 'than', 'in', '1985', '.'], ...]

In [16]:
# load the Wordnet Corpus
from nltk.corpus import wordnet as wn
word = 'hike' # taking hike as our word of interest
# get word synsets
word_synsets = wn.synsets(word)
print(word_synsets)

[Synset('hike.n.01'), Synset('rise.n.09'), Synset('raise.n.01'), Synset('hike.v.01'), Synset('hike.v.02')]

In [18]:
# get details for each synonym in synset
for synset in word_synsets:
    print('Synset Name:', synset.name())
    print('POS Tag:', synset.pos())
    print('Definition:', synset.definition())
    print('Examples:', synset.examples())
    print()

Synset Name: hike.n.01
POS Tag: n
Definition: a long walk usually for exercise or pleasure
Examples: ['she enjoys a hike in her spare time']

Synset Name: rise.n.09
POS Tag: n
Definition: an increase in cost
Examples: ['they asked for a 10% rise in rates']

Synset Name: raise.n.01
POS Tag: n
Definition: the amount a salary is increased
Examples: ['he got a 3% raise', 'he got a wage hike']

Synset Name: hike.v.01
POS Tag: v
Definition: increase
Examples: ['The landlord hiked up the rents']

Synset Name: hike.v.02
POS Tag: v
Definition: walk a long way, as for pleasure or physical exercise
Examples: ['We were hiking in Colorado', 'hike the Rockies']

## Frequency Distributions

In [3]:

import nltk
nltk.corpus.gutenberg.fileids()
file1 = nltk.corpus.gutenberg.fileids( ) [0]
emmatext = nltk.corpus.gutenberg.raw(file1)
emmatokens = nltk.wordpunct_tokenize(emmatext)
emmawords = [w.lower( ) for w in emmatokens]
emmawords[:10]

['[', 'emma', 'by', 'jane', 'austen', '1816', ']', 'volume', 'i', 'chapter']

In [4]:
from nltk.book import *
fdist = FreqDist(emmawords)
fdist.most_common(50)

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

[(',', 11454),
 ('.', 6928),
 ('to', 5239),
 ('the', 5201),
 ('and', 4896),
 ('of', 4291),
 ('i', 3178),
 ('a', 3129),
 ('it', 2528),
 ('her', 2469),
 ('was', 2398),
 ('she', 2340),
 (';', 2199),
 ('in', 2188),
 ('not', 2140),
 ('"', 2004),
 ('you', 1980),
 ('be', 1975),
 ('that', 1806),
 ('he', 1806),
 ('had', 1624),
 ('but', 1441),
 ('as', 1436),
 ('--', 1382),
 ('for', 1347),
 ('have', 1320),
 ('is', 1240),
 ('with', 1217),
 ('very', 1202),
 ('mr', 1153),
 ('his', 1145),
 ('."', 1138),
 ('at', 1031),
 ("'", 1007),
 ('so', 974),
 ('s', 935),
 ('emma', 865),
 ('all', 845),
 ('could', 837),
 ('would', 820),
 ('been', 759),
 ('him', 759),
 ('no', 742),
 ('my', 728),
 ('mrs', 699),
 ('on', 692),
 ('.--', 685),
 ('any', 654),
 ('do', 640),
 ('were', 600)]

In [5]:
fdist['emma']
fdist['the']

5201

In [ ]:
pattern = re.compile()

In [15]:
 p = re.compile('ab*')
 p.match("abcd")

In [16]:
import re
def makeAlphaFreqDist(words):
    adist = FreqDist()
    pattern = re.compile('.*[^a-z].*')
    for word in words:
        if not pattern.match(word):
            adist.update([word])
    return adist

In [17]:
adist = makeAlphaFreqDist(emmawords)
adist.most_common(50)

[('to', 5239),
 ('the', 5201),
 ('and', 4896),
 ('of', 4291),
 ('i', 3178),
 ('a', 3129),
 ('it', 2528),
 ('her', 2469),
 ('was', 2398),
 ('she', 2340),
 ('in', 2188),
 ('not', 2140),
 ('you', 1980),
 ('be', 1975),
 ('that', 1806),
 ('he', 1806),
 ('had', 1624),
 ('but', 1441),
 ('as', 1436),
 ('for', 1347),
 ('have', 1320),
 ('is', 1240),
 ('with', 1217),
 ('very', 1202),
 ('mr', 1153),
 ('his', 1145),
 ('at', 1031),
 ('so', 974),
 ('s', 935),
 ('emma', 865),
 ('all', 845),
 ('could', 837),
 ('would', 820),
 ('been', 759),
 ('him', 759),
 ('no', 742),
 ('my', 728),
 ('mrs', 699),
 ('on', 692),
 ('any', 654),
 ('do', 640),
 ('were', 600),
 ('miss', 599),
 ('me', 573),
 ('by', 571),
 ('will', 570),
 ('must', 567),
 ('which', 556),
 ('there', 549),
 ('from', 546)]

In [18]:
for word, freq in adist.most_common(30):
    print(word, freq)

to 5239
the 5201
and 4896
of 4291
i 3178
a 3129
it 2528
her 2469
was 2398
she 2340
in 2188
not 2140
you 1980
be 1975
that 1806
he 1806
had 1624
but 1441
as 1436
for 1347
have 1320
is 1240
with 1217
very 1202
mr 1153
his 1145
at 1031
so 974
s 935
emma 865

In [21]:
mbdist = FreqDist(text1)
mbdist.most_common(10)

[(',', 18713),
 ('the', 13721),
 ('.', 6862),
 ('of', 6536),
 ('and', 6024),
 ('a', 4569),
 ('to', 4542),
 (';', 4072),
 ('in', 3916),
 ('that', 2982)]

In [22]:
adist = makeAlphaFreqDist(emmawords)
adist.most_common(10)

[('to', 5239),
 ('the', 5201),
 ('and', 4896),
 ('of', 4291),
 ('i', 3178),
 ('a', 3129),
 ('it', 2528),
 ('her', 2469),
 ('was', 2398),
 ('she', 2340)]